@{
    ViewBag.Title = "Home Page";
}
<link rel="stylesheet" type="text/css" href="~/Content/Home.css" >
   

<div class="row">
    <div class="col-md-4">
        <h2>School Info</h2>
        <img src="~/Images/2014-02-11.jpg">
    </div>
    <div id="data" class="row">
        <div class="col-md-12">
            <p>
                <a href="~/Home/AddSchool">Додати нову школу</a>
            </p>

            <table class="table-striped">
                @*<tr>
                    <th></th>
                    <th>Decsription</th>
                </tr>*@
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.FullName</td>
                        <td>@item.ShortName</td>
                        <td>@item.TypeSchool</td>
                        <td>@item.Degree</td>
                        <td>@item.OwnerShip</td>
                        <td>@item.ZipCode</td>
                        <td>@item.Address1</td>
                        <td>@item.Address2</td>
                        <td>@item.PhoneNumber</td>
                        <td>@item.Email</td>
                        <td>@item.PrincipleId</td>
                        <td>@item.Regulatory</td>
                        <td><a href="~/Home/SchoolEdit/@item.Id">Редагувати</a></td>
                    </tr>
                }
            </table>
            </div>
        </div>
        </div>
