@model journal.ViewModels.ClassViewModels
@{
    ViewBag.Title = "Delete";
}
<h2>Delete</h2>
<div class="alert alert-danger">
    <h3>Are you sure you want to delete this?</h3>
</div>
<div>
    <h4>Class</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
           Name
        </dt>

        <dd>
           @Model.Name
        </dd>

        <dt>
            Year
        </dt>

        <dd>
            @Model.Year
        </dd>

        <dt>
            School
        </dt>

        <dd>
            @Model.SelectedSchool
        </dd>
        <dt>
            Pupils
        </dt>

        @foreach (var c in Model.Users)
        {
            <dd>
                @c.Text
            </dd>
        }


    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            <a href="~/Class/Index">Back to List</a>          
        </div>
    }
</div>
