@model journal.ViewModels.StudyUserSubjectDropdownViewModel
@using Roles = journal.Helpers

@{
    ViewBag.Title = "Index";
}
<script src="~/Scripts/controllers/studySubjectController.js"></script>
<h2>Index</h2>
<div id="data" class="row">
    <div class="col-md-12">
        @if (User.IsInRole(Roles.Roles.Admin) || User.IsInRole(Roles.Roles.Principle)||User.IsInRole(Roles.Roles.Pupil)||User.IsInRole(Roles.Roles.SuperAdmin))
        {
            <p>
                <a href="~/StudySubject/Create">Вибрати новий предмет для вивчення</a>
            </p>
        }
        <div class="form-inline">
            <label for="teacher">User</label>
            <select class="form-control" id="user">
                <option></option>
                @foreach (var c in Model.Users)
                {
                    <option value="@c.Value">@c.Text</option>
                }
            </select>
            <label for="teacher">Subjects</label>
            <select id="subject" class="form-control">
                <option></option>
                @foreach (var c in Model.Subjects)
                {
                    <option value="@c.Value">@c.Text</option>
                }
            </select>
            <button type="button" id="search" class="btn btn-default">Search</button>
        </div>

        <br />

        <table class="table table-hover">
            <thead>
                <tr class="danger">
                    <th>
                        Name of pupil
                    </th>
                    <th>
                        Name of subject
                    </th>
                    <th>
                    </th>
                </tr>
            </thead>
            <tbody id="tablebody">
                @{var counter = -1; }
                @foreach (var item in Model.StudySubjects)
                {

                    counter++;
                    <tr class='@(counter%2==0?"success":"")'>
                        <td>
                            @item.SelectedUser
                        </td>
                        <td>
                            @item.SelectedSubject
                        </td>
                        <td>
                            @if (User.IsInRole(Roles.Roles.Admin) || User.IsInRole(Roles.Roles.Principle)|| User.IsInRole(Roles.Roles.SuperAdmin))
                            {
                                <a href="~/StudySubject/Edit/@item.ID">Edit</a>
                            }
                            <a href="~/StudySubject/Details/@item.ID">Details</a>
                            @if (User.IsInRole(Roles.Roles.Admin) || User.IsInRole(Roles.Roles.Principle) || User.IsInRole(Roles.Roles.SuperAdmin))
                            {
                                <a href="~/StudySubject/Delete/@item.ID">Delete</a>
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
