@model journal.ViewModels.SchoolViewModel
@{
    ViewBag.Title = "Create";
}

<h2>Create new school</h2>
@using (Html.BeginForm("Create","School",FormMethod.Post,new { @id="hueta"}))
{
    <fieldset>
        <div class="form-group">
            <p class="col-md-2 col-sm-3 control-label">Full name</p>
            <div class="col-md-10">
                <input class="form-control" type="text" name="FullName" value="@Model.FullName" placeholder="Full name" autofocus required oninvalid="this.setCustomValidity('Please enter valid Full Name')" oninput="setCustomValidity('')" />
                @Html.ValidationMessageFor(m => m.FullName, null, new { @class = "ErrorMessage help-block" })
            </div>
        </div>
        <br />

        <div class="form-group">
            <p class="col-md-2 col-sm-3 control-label">Short Name</p>
            <div class="col-md-10">
                <input class="form-control" type="text" name="ShortName" value="@Model.ShortName" placeholder="Short name" required oninvalid="this.setCustomValidity('Please enter valid Short Name')" oninput="setCustomValidity('')"/>
                @Html.ValidationMessageFor(m => m.ShortName, null, new { @class = "ErrorMessage help-block" })
            </div>
        </div>
        <br />
        <div class="form-group">
            <p class="col-md-2 col-sm-3 control-label">Type School</p>
            <div class="col-md-10">
                <input class="form-control" type="text" name="TypeSchool" value="@Model.TypeSchool" placeholder="Type school" required oninvalid="this.setCustomValidity('Please enter valid Type School')" oninput="setCustomValidity('')"/>
                @Html.ValidationMessageFor(m => m.TypeSchool, null, new { @class = "ErrorMessage help-block" })
            </div>
        </div>
        <br />
        <div class="form-group">
            <p class="col-md-2 col-sm-3 control-label">Degree</p>
            <div class="col-md-10">
                <input class="form-control" type="text" name="Degree" value="@Model.Degree" placeholder="Degree" required oninvalid="this.setCustomValidity('Please enter valid Degree')" oninput="setCustomValidity('')"/>
                @Html.ValidationMessageFor(m => m.Degree, null, new { @class = "ErrorMessage help-block" })
            </div>
        </div>
        <br />
        <div class="form-group">
            <p class="col-md-2 col-sm-3 control-label">Ownership</p>
            <div class="col-md-10">
                <input class="form-control" type="text" name="OwnerShip" value="@Model.OwnerShip" placeholder="Ownership" required oninvalid="this.setCustomValidity('Please enter valid Owner ship')" oninput="setCustomValidity('')"/>
                @Html.ValidationMessageFor(m => m.OwnerShip, null, new { @class = "ErrorMessage help-block" })
            </div>
        </div>
        <br />
        <div class="form-group">
            <p class="col-md-2 col-sm-3 control-label">Zip code</p>
            <div class="col-md-10">
                <input class="form-control" type="text" name="ZipCode" @*value="@Model.ZipCode"*@ pattern=".{4,6}" title="4 to 6 characters" placeholder="Zip code" required oninvalid="this.setCustomValidity('Please enter valid zip')" oninput="setCustomValidity('')"/>
                @Html.ValidationMessageFor(m => m.ZipCode, null, new { @class = "ErrorMessage help-block" })
            </div>
            <div class="form-group">
            </div>
        <br />
            <p class="col-md-2 col-sm-3 control-label">Address</p>
            <div class="col-md-10">
                <input class="form-control" type="text" name="Address1" value="@Model.Address1" placeholder="Address" required oninvalid="this.setCustomValidity('Please enter valid Address')" oninput="setCustomValidity('')"/>
                @Html.ValidationMessageFor(m => m.Address1, null, new { @class = "ErrorMessage help-block" })
            </div>
        </div>
        <br />
        <div class="form-group">
            <p class="col-md-2 col-sm-3 control-label">Address 2</p>
            <div class="col-md-10">
                <input class="form-control" type="text" name="Address2" value="@Model.Address2" placeholder="Address" />
                @Html.ValidationMessageFor(m => m.Address2, null, new { @class = "ErrorMessage help-block" })
            </div>
        </div>
        <br />
        <div class="form-group">
            <p class="col-md-2 col-sm-3 control-label">PhoneNumber</p>
            <div class="col-md-10">
                <input class="form-control" type="tel" name="PhoneNumber" value="@Model.PhoneNumber" placeholder="+38(999)999-9999" pattern="[\+]\d{2}[\(]\d{3}[\)]\d{3}[\-]\d{4}" title="Phone number (Format:+38(063)999-9999)" required oninvalid="this.setCustomValidity('Please enter valid Phone number')" oninput="setCustomValidity('')"/>
                @Html.ValidationMessageFor(m => m.PhoneNumber, null, new { @class = "ErrorMessage help-block" })
            </div>
        </div>
        <br />
        <div class="form-group">
            <p class="col-md-2 col-sm-3 control-label">Email</p>
            <div class="col-md-10">
                <input class="form-control" type="email" name="Email" value="@Model.Email"placeholder="someone@example.com" required oninvalid="this.setCustomValidity('Please enter valid Email')" oninput="setCustomValidity('')"/>
                @Html.ValidationMessageFor(m => m.Email, null, new { @class = "ErrorMessage help-block" })
            </div>
        </div>
        <br />
        <div class="form-group">
            <p class="col-md-2 col-sm-3 control-label">Regulatory</p>
            <div class="col-md-10">
                <input class="form-control" type="text" name="Regulatory" @*value="@Model.Regulatory"*@ placeholder="Requlatory" required oninvalid="this.setCustomValidity('Please enter valid Regulatory')" oninput="setCustomValidity('')" />
                @Html.ValidationMessageFor(m => m.Regulatory, null, new { @class = "ErrorMessage help-block" })
            </div>
        </div>
        <br />
        <div class="form-group">
            <div class="col-md-offset-2 col-sm-offset-3 col-md-10">
                <input id="btnSubmit" class="btn btn-default"  type="submit" value="Submit" >                
            </div>
        </div>

    </fieldset>
}

<div>
    <a href="~/School/Index">Back to List</a>   
</div>
